/* External CSS */

table{
    width:60%;
    margin:auto;
    background:white;
    text-align:center;
}

form input, form select{
    padding:8px;
    width:250px;
}

h2{
    color:#d97706;
}

/* WHY SECTION */

.why-section{
    padding:60px 40px;
    background:#f9fafb;
    text-align:center;
}

.why-section h2{
    font-size:32px;
    margin-bottom:40px;
}

/* HORIZONTAL ROW */

.why-row{
    display:flex;
    justify-content:space-between;
    gap:25px;
    flex-wrap:wrap;
}

/* CARDS */

.why-card{
    background:white;
    padding:25px;
    width:23%;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}

.why-card img{
    width:70px;
    margin-bottom:15px;
}

.why-card h3{
    margin-bottom:10px;
}

.why-card p{
    font-size:14px;
    color:#555;
}

/* HOVER EFFECT */

.why-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

/* RESPONSIVE */

@media(max-width:900px){
    .why-card{
        width:48%;
    }
}

@media(max-width:500px){
    .why-card{
        width:100%;
    }
}
